.container {
  cursor: default;
  ul {
    list-style: none;
  }
  .cake-title,
  .bento-title,
  .cupcake-title {
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    text-decoration: overline 1px;
  }
  .cakes,
  .bento,
  .cupcake {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .information {
    text-align: center;
  }
  .subtitle {
    text-decoration: underline 1px;
    font-weight: 700;
  }
  .red {
    color: red;
  }
}
// .test {
//   background-color: rgb(255, 234, 237);
//   border-radius: 50px;
//   padding-left: 50px;
//   box-shadow: 0px 0px 15px 3px rgb(254, 198, 208);
//   outline: 1px solid rgb(52, 52, 52);
// }
