.container {
  cursor: default;
  ul {
    list-style: none;
  }
  .cake-title,
  .bento-title,
  .cupcake-title {
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    text-decoration: overline 1px;
  }
  .cakes,
  .bento,
  .cupcake {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .information {
    text-align: center;
  }
  .subtitle {
    text-decoration: underline 1px;
    font-weight: 700;
  }
  .red {
    color: red;
  }
}
