.container-fluid {
  .main_image {
    position: absolute;
    width: 100%;
    max-height: 90%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top center;
    filter: saturate(120%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
  .block-image {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    z-index: 1;
    width: 100%;
    min-height: 200px;
    height: 300px;
    box-shadow: 0px 0px 15px 3px rgb(254, 198, 208);
    border-radius: 25px;
    transition: 0.3s all;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 238, 251);
    opacity: 0.85;
    &:hover {
      filter: brightness(102%);
      transform: scale(1.05);
    }
    .card-title {
      text-align: center;
      text-transform: uppercase;
    }
  }
  .card-image img {
    border-radius: 25px;
    width: 70%;
    height: 13rem;
    object-fit: cover;
    box-shadow: 0px 0px 15px 3px rgb(254, 198, 208);
  }
}
